a {
	text-decoration: none;
	color: inherit;
}
body {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #f5f2ef;
}
h1 {
	font-size: 30px;
	line-height: 42px;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}
h2 {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	font-weight: bold;
	text-transform: none;
	padding-bottom: 16px;
}
.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}
.main-header {
	background-color: #000000;
	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 60px;
}
.header-flex {
	display: flex;
	padding: 0 20px;
}
.logo {
	padding: 24px 0;
	padding-right: 18px;
}
.main-menu ul {
	margin: 0;
	padding: 0;
}
.main-menu li {
	display: inline-block;
	padding: 28px 22px;
}
.main-menu li:hover {
	background-color: #242424;
}
.user {
	margin-left: 86px;
}
.login {
	padding: 28px 22px;
	padding-left: 50px;
	display: inline-block;
	position: relative;
}
.login::before {
	content: "";

	position: absolute;
	top: 27px;
	left: 23px;

	width: 18px;
	height: 18px;

	background: url("../img/Sprite.png") no-repeat;
  	background-position: -20px -15px;
  	opacity: 0.3;
}
.login:hover {
	background-color: #242424;
}
.breadcrumbs {
	margin-top: 28px;
	margin-bottom: 60px;
}
.breadcrumbs ul {
	margin: 0;
	padding: 0;
}
.breadcrumbs li {
	display: inline-block;
	padding-right: 38px;
}
.breadcrumbs li:last-child {
	padding-right: 0px;
	color: #aba9a7;
}
.flex-container {
	display: flex;
}
.filters {
	display: flex;
	flex-direction: column;
	width: 220px;
}
.filters ul {
	margin: 0;
	padding: 0;

	list-style: none;
}
.filters li {
	padding-bottom: 18px;
}
.title {
	margin: 0;
}
.filter-production {
	margin-bottom: 55px;
}
.catalog {
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	width: 720px;
}
.catalog-item {
	background-color: #ffffff;
	width: 220px;
	box-shadow: 0 0 15px rgba(0,1,1,0.2);
	margin: 10px;
}
.catalog-item-content {
	padding: 15px;
}
.catalog-item h2 {
	margin: 0;
}
.buy {
	display: flex;
}
.buy p {
	margin: 0;
}
.price {
	padding-right: 40px;
}
.main-flex {
	display: flex;
}
.gallery {
	width: 480px;	 
	margin-right: 50px;
}
.gallery img {
	box-shadow: 0 0 15px rgba(0,1,1,0.2);
}
.other-image {
	margin-bottom: 50px;
}
.other-image img {
	margin-top: 20px;
	margin-right: 20px;
}
.other-image img:last-child {
	margin-right: 0;
}
.information {
	width: 390px;
	flex-direction: column;
}
.info {
	display: flex;
	padding-top: 26px;
	padding-bottom: 43px;
}
.exist {
	margin: 0;

	margin-right: auto;
}
.code {
	margin: 0;

	margin-left: auto;
	color: #aba9a7;
}
.description {
	margin: 0;

	margin-bottom: 42px;
}
.set {
	margin-top: 68px;
}
.set ul {
	margin: 0;
	padding: 0;

	list-style: none;
}
.set li::before {

}
.title {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 40px;
}
.pagination {
	margin: 60px 10px;
}
.pagination ul {
	margin: 0;
	padding: 0;
}
.pagination li {
	display: inline-block;
}
.main-footer {
	background-color: #232323;
	color: #ffffff;
	font-size: 14px;
	line-height: 24px;
	padding-top: 60px;
	padding-bottom: 40px;
}
.footer-flex {
	display: flex;
}
.main-footer p {
	margin: 0;
	padding: 0;
}
.social {
	text-align: center;
	margin-left: 90px;
	margin-right: 260px;
}
.social p {
	margin-bottom: 22px;
}
.design {
	text-align: center;
}
.design p {
	margin-bottom: 22px;
}
.design a {
	background-color: #000000;
	padding: 16px 24px;
}